<div class="eduBody">
<h1>Educational Highlights</h1>
<p class="eduTitle">Tech Talent South</p>
<p>Tech Talent South offers a Full Stack Coding Immersion Program. The Tech Talent South coding course features the most practical and widely used languages, including Ruby on Rails, Javascript, jQuery, HTML, CSS, Bootstrap, APIs, Command Line, GiHub, and Heroku. A full time immersion course that connects each language, teaches overall coding logic, and an overall philosophy on how to learn any coding language.</p>
<a href="https://www.techtalentsouth.com/" target="_blank">View Tech Talent South's Website</a>
<p> </p>
<p class="eduTitle">Saint Anselm College</p>
<p>Saint Anselm College is a nationally ranked, Catholic, Benedictine, liberal arts college in Goffstown, New Hampshire. The administration's commitment to an anti-grade inflation policy helped the college receive national media attention from the Fox News Channel in 2006, as well as a Tier 1 ranking from U.S. News and World Report, which in 2016 ranked the college 112th among national liberal arts colleges, with an admissions rate that is deemed "selective" at 73.7%. U.S. News and World Report also ranked the college as the most popular New Hampshire venue for presidential candidates. Forbes magazine has ranked St. Anselm as the 85th best college in the nation, as well as the 40th in the Northeast. In 2015, Saint Anselm was recognized by Time magazine as one of the "50 Best Liberal Arts Colleges" in the nation</p>
<a href="https://www.anselm.edu/" target="_blank">View Saint Anselm College's Website</a>
</div>

