<div class="homeBody">
<h1>Why Are You Reading This?</h1>
<p>It's a bit odd simply based off my resume that I would be contacting you about a position in coding. The story is simple, I want to embark on a new career path. Ad Operations has been great, it is still keeping my busy with contract work but I am ready for a new challenge. I want to create. I want to get out of the comfort zone and take on new challenges. I want a career opportunity that is on the cutting edge, an industry that is growing and will continue to grow for generations.</p>
<p>I saw an opportunity and registered at Tech Talent South. I started small with command line from there I have enthusiastically learned html, css, Boostrap, Ruby, JavaScript, jQuery, and Ruby on Rails. I am utilizng GitHub and Heroku. I am continuing to learn for myself as well. I am working on projects for my portfolio in order to strengthen my skills</p>
<p>That is what brings you here. Please continue to browse my site to learn more.</p>
<p> </p>
<p> </p>
<p>Sincerely,</p>
<p>-John</p>
</div>
