// Place all the styles related to the JM controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.bioBody {
	text-align: center;
	margin: 50px;
}

.homeBody {
	text-align: center;
	margin: 50px;
}

.careerBody {
	text-align: center;
	margin: 50px;
}